@import '~antd/dist/antd.css';
@import '~tailwindcss/tailwind.css';


body {
    background: #111110 !important;
    font-family: 'Sora', sans-serif !important;
    color: #FFF !important;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
    border-right: 0px !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background: transparent !important;
}

.banner-ido{
    background: url("../common/assets/images/line.png");
    background-size: cover;
    background-position: top center;
    object-fit: cover;
    object-position: center;
}

.ant-card{
    border-radius: 16px !important;
    background: #292929 !important;
}